@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}


.img-content {
    background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url('images/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 600px;
    border-radius: 10px;
}


.container .img-content h2{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 400;
}

.container .img-content{
    text-align: center;
    padding-top: 200px;
}

.container .img-content h1{
    width: 630px;
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}


.container .header-content{
    text-align: center;
    margin-top: 120px;
}



.container .header-content h1{
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 88px;
    font-weight: 700;
}

.container .header-content *{
    margin-bottom: 40px;
}


.container .header-content p{
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 500;
}


.container .header-content h2{
    color: #070211;
    text-align: center;
    font-family: 'Inter';
    font-size: 43px;
    font-weight: 700;
}



/* welcome section start */

.container .welcome-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0,0,0,0.50)), url('images/Vectorrr.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    height: 600px;
    border-radius: 10px;
}


.welcome-text {
    background-image: url('images/Group\ 70.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 140px;
}


.container .welcome-img .welcome-text h1{
    width: 642px;
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}


.container .welcome-img .welcome-text p{
    width: 695px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}


.container .welcome-img .welcome-text *{
    margin-bottom: 40px;
}

.container .welcome-img .welcome-text {
    padding: 125px;
}


.container .welcome-img .welcome-text button{
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
}





/* party hotel section start */


.container .new-parkhotel {
    background-color: rgba(255,242,242,255);
    padding: 100px;
    border-radius: 5px;
}

.container .new-parkhotel{
    margin-top: 120px;
    text-align: center;
    font-size: 22px;
}

.container .new-parkhotel *{
    margin-bottom: 30px;
}


.container .new-parkhotel h2 .important{
    color: #F00;
}

.container .new-parkhotel button{
    margin-top: 25px;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.container .new-parkhotel button:hover{
    transform: scale(1.1);
}


    /* coming soon section start */






.container .comingsoon-content .newbest-offer h4{
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}


.container .comingsoon-content .newbest-offer p{
    width: 390px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.container .comingsoon-content .newbest-offer h1{
    color: #070211;
    font-size: 48px;
    font-family: 'Merriweather';
    font-weight: 900;
}



.container .comingsoon-content .newbest-2024 h1{
    color: #F00;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
}

.container .comingsoon-content .newbest-offer *{
    margin-bottom: 25px;
}

.container .comingsoon-content .newbest-2024 *{
    margin-top: 20px;
}


.container .comingsoon-content .newbest-2024 p{
    width: 270px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


.container .comingsoon-content .newbest-img img{
    border: 15px solid red;
    border-radius: 50%;
    padding: 30px;
}


.coming-divided {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.container .comingsoon-content {
    margin-top: 120px;
}



/* holidays section start */


.container .holidays-sales .holidays-text {
    margin-top: 120px;
}

.container .holidays-sales .holidays-text *{
    text-align: center;
    margin-bottom: 20px;
}

.container .holidays-sales .holidays-text h5{
    color: #070211;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}


.container .holidays-sales .holidays-text h1{
    color: #F00;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
}

.container .holidays-sales .holidays-text h1 .holiday-offer{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
}



.container .holidays-sales .holidays-text p{
    width: 1065px;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;

}

.holidays-sales .holiday-images .rectangle1 {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 63.1rem;
}



.holidays-sales .holiday-images .rectangle2 {
    position: absolute;
    left: 0px;
    margin-left: 70px;
    margin-top: 60px;
    margin-left: 73rem;
}

.holidays-sales .holiday-images {
    margin-top: 65px;
}


.holidays-sales .footer-img .footer1 {
    position: absolute;
    z-index: 1000;
    height: 300px;
    width: 500px;
    padding-left: 8rem;
}

.holidays-sales .footer-img .footer2 {
    position: relative;
    width: 100%;
    
}


    /* our awesome portfolio */


.our-portfolio {
    margin-top: 120px;
}


.container .our-portfolio .our-text h5{
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}


.container .our-portfolio .our-text h1{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
}

.container .our-portfolio .our-text * {
    margin-bottom: 20px;
}

.container .our-portfolio .our-text p{
    width: 895px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}




.container .our-portfolio .our-portfolio-img .our-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3.3em;
}


.container .our-portfolio .our-portfolio-img .our-img img{
    transition: .5s;
    cursor: pointer;
}

.container .our-portfolio .our-portfolio-img .our-img img:hover{
    transform: scale(1.1);
}


.container .our-portfolio .our-portfolio-img {
    margin-top: 50px;
}




    /* subscribe newsletter section start */



.container .subscribe-backgroud{
    background-color: rgba(255,242,242,255);
    margin-top: 120px;
    border-radius: 5px;
}

.container .subscribe-backgroud .subscribe-news {
    text-align: center;
    padding: 100px;
}

.container .subscribe-backgroud .subscribe-news h1{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
}


.container .subscribe-backgroud .subscribe-news p{
    width: 895px;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.container .subscribe-backgroud .subscribe-news button{
    padding: 25px 50px;
    border-radius: 0px 40px 40px 0px;
    background: #F00;
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.container .subscribe-backgroud .subscribe-news * {
    margin-bottom: 40px;
}

.container .subscribe-backgroud .subscribe-news input{
    width: 480px;
    height: 75px;
    padding: 30px;
    color: rgba(7, 2, 17, 0.50);
    margin-top: 45px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    border-radius: 40px 0px 0px 40px;
    border: none;
    outline: none;
}


    /* footer section start */


.container .footer-content {
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-backgrund {
    background-color: #070211;
    margin-top: 120px;
}

.container .footer-content .footer-icon{
    display: flex;
}



.container .footer-content .footer-tex h2{
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}


.container .footer-content .icon-tex h2{
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    align-items: center;
}

.container .footer-content .icon-tex h2 img{
    margin-right: 10px;
}


.container .footer-content {
    padding: 100px 0px;
}

.container .social-media .social-icon{
    text-align: center;
    padding: 50px 0px;
}


.container .social-media .social-icon img{
    padding: 0px 10px;
    transition: .5s;
    cursor: pointer;
}

.container .social-media .social-icon img:hover{
    transform: scale(1.1);
}

.container .unscribe-content {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    color: #FFF;
}


.container .unscribe-content .unscribe-text h2{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 60px;
}


.container .footer-content{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}


.container .social-media{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
